{% extends 'base.html.twig' %}

{% block title %}Ticket to {{ product.artist }} event{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 bg-clip-content bg-slate-300 p-6 border-4 border-black border-dashed">
        <table class="table-auto text-left w-full">
            <caption class="caption-top text-left bg-slate-200">
                Ticket id: See {{ product.artist }} at {{ product.venue }} on {{ product.date | date("m/d/Y")}}
            </caption>
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Venue</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ product.artist }}</td>
                    <td>{{ product.venue }}</td>
                    <td>{{ product.description }}</td>
                </tr>
            </tbody>
            <tfoot class='text-right bg-slate-400'>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Ticket ID: {{ product.id }}</td>
                </tr>
            </tfoot>
        </table>

    </div>
{% endblock %}
